/Minggu1/nbproject/private/
/Test/nbproject/private/
/Minggu2/nbproject/private/
/Minggu2/build/
/Minggu1/build/
/Minggu3/nbproject/private/
/Minggu3/build/
/Minggu4/nbproject/private/
/Minggu4/build/
/Minggu5/nbproject/private/
/Minggu5/build/
